Repository mamertofabian/maid-lsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, ruff-format, maid-validate

.pre-commit-config.yaml:

# Pre-commit hooks for maid-lsp
# Install with: make pre-commit-install
# Run manually with: make pre-commit
#
# Hooks run in order:
# 1. Format code with black (via uv)
# 2. Lint with ruff (via uv, with auto-fix)
# 3. Validate changed manifests with maid validate
# 4. Run maid test (all validation commands)

repos:
  # Format code with black (using local uv installation)
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && uv run black --line-length=100 "$@"' --
        language: system
        types: [python]
        files: ^(maid_lsp|tests|scripts)/.*\.py$
        pass_filenames: true

  # Lint with ruff (using local uv installation)
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && uv run ruff check --fix --exit-non-zero-on-fix "$@"' --
        language: system
        types: [python]
        files: ^(maid_lsp|tests|scripts)/.*\.py$
        pass_filenames: true
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && uv run ruff format "$@"' --
        language: system
        types: [python]
        files: ^(maid_lsp|tests|scripts)/.*\.py$
        pass_filenames: true

  # Validate manifests with maid (only changed manifest files)
  - repo: local
    hooks:
      - id: maid-validate
        name: maid validate (changed manifests)
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do echo "Validating $file..."; uv run maid validate "$file" --validation-mode implementation --use-manifest-chain --quiet || exit 1; done' --
        language: system
        types: [json]
        files: ^manifests/.*\.manifest\.json$
        pass_filenames: true

  # Run maid test (runs all validation commands from manifests)
  # Note: This runs all tests and can be slow. Consider running manually before pushing.
  # To only run on push, uncomment the stages line below.
  - repo: local
    hooks:
      - id: maid-test
        name: maid test
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && uv run maid test --quiet || exit 1'
        language: system
        pass_filenames: false
        # stages: [pre-push]  # Uncomment to only run on push (recommended for speed)

Make Makefile commands consistent with pre-commit hooks
  Makefile
Due: none

Fix linting issues and format code
  maid_lsp/capabilities/references.py
  maid_lsp/utils/ast_parser.py
  tests/test_lsp_integration.py
  tests/test_task_004_maid_runner.py
Due: black, ruff, ruff-format

Remove unused parameters instead of suppressing warnings
  maid_lsp/capabilities/references.py
  tests/test_task_014_references.py
Due: black, ruff, ruff-format

Address qodo-code-review suggestions for ReferencesHandler
  maid_lsp/capabilities/references.py
Due: black, ruff, ruff-format

Replace maid-runner subprocess calls with library imports
  .pre-commit-config.yaml
  maid_lsp/validation/runner.py
  pyproject.toml
  tests/test_task_004_maid_runner.py
Due: black, ruff, ruff-format

Fix E301 validation errors for maid-runner v2.0.0 compatibility
  .pre-commit-config.yaml
  manifests/task-002-debounce.manifest.json
  manifests/task-003-validation-models.manifest.json
  manifests/task-004-maid-runner.manifest.json
  manifests/task-006-diagnostics.manifest.json
  manifests/task-012-ast-parser.manifest.json
  manifests/task-013-definition-handler.manifest.json
  manifests/task-014-references-handler.manifest.json
Due: maid-validate

release: v0.2.0 - Go-to-definition, find-references, and maid-runner library migration
  CHANGELOG.md
  maid_lsp/__init__.py
  pyproject.toml
Due: black, ruff, ruff-format

Fix mypy conditional import for tomli/tomllib on Python 3.10
  maid_lsp/capabilities/references.py
Due: black, ruff, ruff-format
